<% layout('layouts/adminDashboard') -%>

<header class="relative">
    <h1 class="h1" data-nav="3">Analytics</h1>
    <aside class="lg-only absolute">
        <div class="boxed large grey">29 FEB 2020</div>
        <div class="boxed large grey">06 : 32 PM</div>
    </aside>
</header>

<main class="pad-top-20">
    <div class="contentCard">
        <h2 class="ch"><i class="fas fa-at"></i> At a glance</h2>
        <div class="loading" id="testsEnrolled">Your content is loading, please wait...</div>
    </div>
</main>
