<% layout('layouts/adminDashboard') -%>

<header class="relative">
    <h1 class="h1" data-nav="0">Dashboard</h1>
    <aside class="lg-only absolute">
        <div id="dateHolder" class="boxed large grey">DATE</div>
        <div id="timeHolder" class="boxed large grey">TIME</div>
    </aside>
</header>

<main class="pad-top-20">
    <div class="contentCard">
        <h2 class="ch"><i class="fas fa-at"></i> At a glance</h2>
        <div class="loading" id="testsEnrolled">Your content is loading, please wait...</div>
    </div>
</main>
