<% layout('layouts/adminDashboard') -%>

<header class="relative">
    <h1 class="h1" data-nav="1">Users</h1>
    <aside class="lg-only absolute">
        <div id="dateHolder" class="boxed large grey">DATE</div>
        <div id="timeHolder" class="boxed large grey">TIME</div>
    </aside>
</header>

<main class="pad-top-20">
    <div class="contentCard">
        <h2 class="ch"><i class="fas fa-users"></i> User List</h2>
        <div class="loading" id="userlist">Your content is loading, please wait...</div>
    </div>
</main>

<script src="/js/admin/users.js"></script>