<% layout('layouts/coordinatorDashboard') %> 

<header class="relative">
    <h1 class="h1" data-nav="2">Analytics</h1>
    <aside class="lg-only absolute">
        <div id="dateHolder" class="boxed large grey">DATE</div>
        <div id="timeHolder" class="boxed large grey">TIME</div>
    </aside>
</header>

<main class="pad-top-20">
    <div class="contentCard">
        <h2 class="ch">Examination Analytics</h2>
        <div class="highlights grid">
            <section class="data-box">
                <h5>Number of tests created</h5>
                <p>50</p>
            </section>
            <section class="data-box">
                <h5>Number of mock tests live</h5>
                <p>4</p>
            </section>
        </div>
    </div>
    <div class="contentCard">
        <h2 class="ch">Participation Analytics</h2>
        <div class="highlights grid">
            <section class="data-box">
                <h5>Participation in live tests</h5>
                <p>5243</p>
            </section>
            <section class="data-box">
                <h5>Total Students Engaged</h5>
                <p>12365</p>
            </section>
        </div>
        <div class="graphArea"> Area left for graph </div>
    </div>
    <div class="contentCard">
        <h2 class="ch">Income Analytics</h2>
        <div class="highlights grid">
            <section class="data-box">
                <h5>Income in last month</h5>
                <p>132000</p>
            </section>
            <section class="data-box">
                <h5>Total income earned</h5>
                <p>488500</p>
            </section>
        </div>
        <div class="graphArea"> Area left for graph </div>
    </div>
</main>