<nav class="relative flex">
    <h2><a href="/">Exampto</a></h2>
    <ul class="nav-links absolute flex">
        <li><a href="/dev/">Dev Center</a></li>
        <% if(USER){ %> 
            <% if(USER_TYPE === 'user'){ %> 
            <li><a href="/user/dashboard">Dashboard</a></li>
            <% } else { %> 
            <li><a href="/coordinator/dashboard">Dashboard</a></li>
            <% } %> 
            <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li> 
        <% } %> 
    </ul>
</nav>