*{padding: 0; margin: 0; box-sizing: border-box; z-index: 0;}


/* ----- CSS variable declarations ----------------------------------------------- */
:root{
    --accent : #0059ff;
    --accent-dark: #0026ff;
    --accent2 : #d1eaff;
    --bg : #eee;
    --shadow : #ddd;
    --greyText : #444;
    --green : #8cff8c;
    --red : #ff4141;
}



/* ----- Basic element styling --------------------------------------------------- */
html{scroll-behavior: smooth;}
body{font-family: roboto, sans-serif; cursor: default; background-color: var(--bg);}

a{color: inherit; text-decoration: none;}

label, input, select{display: block;}

.container{
    padding-bottom: 100px;
}



/* ----- Utility classes --------------------------------------------------------- */
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed}

.flex{display: flex;}
.grid{display: grid;}
.block{display: block;}
.inline{display: inline;}
.in-block{display: inline-block;}

.pos-center{place-items: center;}
.text-center{text-align: center;}



/* ----- Basic elements ---------------------------------------------------------- */
.pad-sides{padding: 0 5vw;}
.basic-padding{padding: 20px 30px;}
.pad-top-60{padding-top: 60px;}
.pad-top-40{padding-top: 40px;}
.pad-top-20{padding-top: 20px;}
.pad-top-10{padding-top: 10px;}
.pad-top-5{padding-top: 5px;}

.mar-top-5{margin-top: 5px;}
.mar-top-10{margin-top: 10px;}
.mar-top-20{margin-top: 20px;}
.mar-top-40{margin-top: 40px;}
.mar-top-60{margin-top: 60px;}
.mar-right{margin-right: 10px;}
.mar-left{margin-left: 10px;}



/* ----- Font Stylings ------------------------------------------------------- */
.w400{font-weight: 400;}
.w500{font-weight: 500;}
.w700{font-weight: 700;}
.w900{font-weight: 900;}

.rounded-20{border-radius: 20px;}
.rounded-10{border-radius: 10px;}
.rounded-5{border-radius: 5px;}

.h1{font-size: 28px;}

.red{color: var(--red);}
.accent{color: var(--accent);}
.grey{color: var(--greyText);}

.accent-bg{background-color: var(--accent);}
.accent2-bg{background-color: var(--accent2);}
.white-bg{background-color: #fff;}
.red-bg{background-color: var(--red) !important;}


/* ----- Basic component styling ------------------------------------------------------------------- */

/* Alert box present on top of main for notifications */
#alertBox{
    position: fixed;  top: -80px; left: 50vw; z-index: 100; font-weight: 500; color: white;  transition: 0.2s ease-in-out;
    transform: translateX(-50%); background-color: var(--accent); border-radius: 5px; padding: 10px 20px; font-size: 16px;
}
#alertBox i{font-size: inherit; margin-right: 10px;}


/* Mobile style rules */
.lg-only{display: none;}


/* ----- For devices with screen width > 500px -------------------------------------------------------------------------------  */

@media screen and (min-width: 500px) {
    .h1{font-size: 34px;}
}



/* ----- For devices with screen width > 750px -------------------------------------------------------------------------------  */

@media screen and (min-width: 800px) {
    .mob-only{ display: none;}
    .lg-only{ display: block;}

    .h1{font-size: 40px;}
}



/* ----- For devices with screen width > 1000px -------------------------------------------------------------------------------  */

@media screen and (min-width: 1000px) {
    
}



/* ----- For devices with screen width > 1400px -------------------------------------------------------------------------------  */

@media screen and (min-width: 1400px) {
    
}



/* ----- For devices with screen width > 1900px -------------------------------------------------------------------------------  */

@media screen and (min-width: 1900px) {
    
}