<nav class="relative flex">
    <h2><a href="/">Philomath</a></h2>
    <ul class="nav-links absolute flex">
        <li><a href="/dev/">Dev Center</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>