<% layout('layouts/userDashboard') -%>

<header class="relative">
    <h1 class="h1" data-nav="2">Explore</h1>
    <aside class="lg-only absolute flex">
        <div class="boxed large grey">29 FEB 2020</div>
        <div class="boxed large grey">06 : 32 PM</div>
    </aside>
</header>

<main class="pad-top-20">
    <div class="contentCard">
        <h2 class="ch">Find exams and practice tests</h2>
        <div class="loading" id="exploreDiv">Loading content please wait...</div>
    </div>

    <div class="contentCard">
        <h2 class="ch">Explore practice tests</h2>
        <div class="loading" id="practiceDiv">Loading content please wait...</div>
    </div>
</main>

<script src="/js/user/explore.js"></script>