<% layout('layouts/userDashboard') -%>

<header class="relative">
    <h1 class="h1" data-nav="4">Profile</h1>
    <aside class="lg-only absolute flex">
        <div class="boxed large grey"><i class="fas fa-wallet"></i>500</div>
    </aside>
</header>