<% layout('layouts/userDashboard') -%>

<header class="relative">
    <h1 id="h1" class="h1" data-nav="1" data-id="<%= USER._id %> ">Results</h1>
    <aside class="lg-only absolute flex">
        <div class="boxed large grey">MOCK TESTS ATTEMPTED : 4</div>
        <div class="boxed large grey">22 JAN 2022</div>
    </aside>
</header>

<main>
    <div class="contentCard">
        <h2 class="ch">Result Analysis</h2>
        <div class="highlights grid">
            <section class="data-box">
                <h5>Average Marks</h5>
                <p>0</p>
            </section>
            <section class="data-box">
                <h5>Marks in best performance</h5>
                <p>0</p>
            </section>
            <section class="data-box">
                <h5>Average Percentile</h5>
                <p>0</p>
            </section>
            <section class="data-box">
                <h5>Percentile of best performance</h5>
                <p>0</p>
            </section>
        </div>
    </div>

    <div class="contentCard">
        <h2 class="ch">Previous Performances</h2>
        <div id="results" class="results">
            <div class="resultsTitles">
                <h5>EXAM NAME</h5>
                <h5>MARKS</h5>
                <h5>RANK</h5>
                <h5>PERCENTILE</h5>
            </div>
            <!-- <div class="resultDiv">
                <p>Exam Name and something</p>
                <p>152</p>
                <p>5241</p>
                <p>97.65</p>
            </div> -->
        </div>
    </div>
</main>

<script src="/js/user/results.js"></script>