<% layout('layouts/userDashboard') %>

<header class="relative">
    <h1 class="h1" id="h1" data-nav="2" data-id="<%= testId %>">View test</h1>
    <aside class="lg-only absolute flex">
        <div class="boxed large grey">29 FEB 2020</div>
        <div class="boxed large grey">06 : 32 PM</div>
    </aside>
</header>

<main>
    <div class="contentCard">
        <div id="heroCard" class="heroCard"></div>
    </div>

    <div class="contentCard">
        <h2 class="ch">Examination Instructions</h2>
        <ul class="instructions grey">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nobis magni debitis architecto, nesciunt, 
                delectus hic temporibus sunt, dolorum sed cupiditate? Mollitia minima harum neque! Blanditiis repellendus unde 
                ad asperiores?</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita harum officia delectus quaerat cupiditate 
                doloremque perspiciatis nesciunt earum eos fugiat quisquam illum dolorem labore fugit facere eaque, atque rerum 
                corporis mollitia laborum maiores. Ducimus dolores nesciunt sit sed eum excepturi corrupti at quo. Non delectus at 
                vitae voluptatibus odit unde.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sunt.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nobis magni debitis architecto, nesciunt, 
                delectus hic temporibus sunt, dolorum sed cupiditate? Mollitia minima harum neque! Blanditiis repellendus unde 
                ad asperiores?</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita harum officia delectus quaerat cupiditate 
                doloremque perspiciatis nesciunt earum eos fugiat quisquam illum dolorem labore fugit facere eaque, atque rerum 
                corporis mollitia laborum maiores. Ducimus dolores nesciunt sit sed eum excepturi corrupti at quo. Non delectus at 
                vitae voluptatibus odit unde.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sunt.</li>
        </ul>
    </div>
</main>

<script src="/js/user/viewtest.js"></script>