<% layout('layouts/userDashboard') -%>

<header class="relative">
    <h1 class="h1" data-nav="3">Wallet</h1>
    <aside class="lg-only absolute flex">
        <div class="boxed large grey"><i class="fas fa-wallet"></i>500</div>
    </aside>
</header>

<main class="pad-top-20">
    <div class="contentCard">
        <h2 class="ch">Your Exampto Wallet</h2>
        <div class="wallet grid">
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ex ab error aperiam repudiandae magnam id. 
                    Tenetur iure placeat harum, consequatur quasi illo impedit. Excepturi nam porro ullam distinctio necessitatibus.
                </p>
                <a href="#" class="btn-link in-block mar-top-5">Learn more <i class="fas fa-arrow-right"></i></a>
                <div class="boxed boxed-blue large mar-top-40"><i class="fas fa-wallet"></i> CURRENT BALANCE : 500</div>
                <a href="#" class="btn medium primary mar-top-40 in-block mar-right"><i class="fas fa-rupee-sign"></i>Buy Coins</a>
                <a href="#" class="btn medium primary mar-top-40 in-block"><i class="fas fa-hand-holding-usd"></i>Withdraw money</a>
            </div>
            <div>
                <div class="wallet-banner rounded-10 accent2-bg w700">
                    <p class="accent">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, sunt.</p>
                    <a href="#" class="btn medium primary mar-top-20 in-block"><i class="far fa-compass"></i>Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard">
        <h2 class="ch">Previous Transactions</h2>
        <div class="loading">Loading your content...</div>
    </div>
</main>