<nav class="fixed grid pos-center">
    <a href="/" class="appIcon accent block lg-only"><i class="fas fa-rocket"></i></a>
    <ul class="nav-links w700 text-center grid coordinator">
        <li><a href="/coordinator/dashboard">
            <i class="fas fa-border-all"></i><br />Dashboard
        </a></li>
        <li><a href="/coordinator/tests">
            <i class="far fa-file-alt"></i><br />Tests
        </a></li>
        <li><a href="/coordinator/analytics">
            <i class="far fa-chart-bar"></i><br />Analytics
        </a></li>
        <li><a href="/coordinator/settings">
            <i class="fas fa-cog"></i><br />Settings
        </a></li>
    </ul>
    <a href="/auth/logout" class="logout block red text-center lg-only"><i class="fas fa-sign-out-alt"></i><br />Logout</a>
    <div id="alertBox"></div>
</nav>