<nav class="fixed grid pos-center">
    <a href="/" class="appIcon accent block lg-only"><i class="fas fa-rocket"></i></a>
    <ul class="nav-links w700 text-center grid">
        <li><a href="/user/dashboard">
            <i class="fas fa-border-all"></i><br />Dashboard
        </a></li>
        <li><a href="/user/results">
            <i class="far fa-chart-bar"></i><br />Results
        </a></li>
        <li><a href="/user/explore">
            <i class="far fa-compass"></i><br />Explore
        </a></li>
        <li><a href="/user/wallet">
            <i class="fas fa-wallet"></i><br />Wallet
        </a></li>
        <li><a href="/user/profile">
            <i class="far fa-user"></i><br />Profile
        </a></li>
    </ul>
    <a href="/auth/logout" class="logout block red text-center lg-only"><i class="fas fa-sign-out-alt"></i><br />Logout</a>
</nav>