<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev center</title>

    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <%- include('../homeNav') %>
    
    <main class="pad-sides pad-top-60">
        <p> <a class="btn small primary" href="/dev/updateData">Update database</a> -> Run database update</p>
    </main>
    
</body>
</html>