<nav class="fixed grid pos-center">
    <a href="/" class="appIcon accent block lg-only"><i class="fas fa-rocket"></i></a>
    <ul class="nav-links w700 text-center grid coordinator">
        <li><a href="/admin/dashboard">
            <i class="fas fa-border-all"></i><br />Dashboard
        </a></li>
        <li><a href="/admin/users">
            <i class="fas fa-users"></i><br />Users
        </a></li>
        <li><a href="/admin/coordinators">
            <i class="fas fa-user-tie"></i><br />Coordinators
        </a></li>
        <li><a href="/admin/analytics">
            <i class="far fa-chart-bar"></i><br />Analytics
        </a></li>
    </ul>
    <a href="/admin/logout" class="logout block red text-center lg-only"><i class="fas fa-sign-out-alt"></i><br />Logout</a>
    <div id="alertBox"></div>
</nav>